# ConnectorX SQLite Compatibility

Remove notnull constraint, replace 'nan' with NULL's, as experiment towards compatibility.

In [ ]:
import connectorx as cx
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
db_filename = "testing_err_SQ00014613.sqlite"
sqlite_err_conn = create_engine(f"sqlite:///{db_filename}").connect()
connectorx_err_conn = f"sqlite://{db_filename}"

In [ ]:
# known error
query = """
select * from cytoplasm
"""
cx.read_sql(conn=connectorx_err_conn, query=query, return_type="pandas")